<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
   <title>ImplBankAssist - Login</title>
   <link rel="stylesheet" href="/resource/auth/login/css/styles.css">
</head>

<body>
   <main>
      <div class="container">
         <div class="mainContent">
            <div class="wrapper">
               <form action="/j_spring_security_check" method="post">
                  <h2 class="form-signin-heading cen">Вход</h2>
                  <div class="material-textfield blue">
                     <input type="text" class="form-control" name="j_username" required autofocus>
                     <label data-content="email">EMAIL</label>
                  </div>
                  <div class="material-textfield red">
                     <input type="password" class="form-control" name="j_password" required>
                     <label data-content="password">PASSWORD</label>
                  </div>
                  <div>
                     <button class="btn cen" type="j_submit">ВОЙТИ</button>
                  </div>
               </form>
               <div>
                  <a href="/oauth2/authorization/google">With Google</a>
               </div>
            </div>
            <div class="cen" th:if="${param.error}">
               <div class="alert alert-danger">
                  Логин или пароль не верный.
               </div>
            </div>
            <div class="cen" th:if="${param.logout}">
               <div class="alert alert-info">
                  Вы вышли из аккаунта.
               </div>
            </div>
         </div>
      </div>
   </main>
</body>
</html>